[Unit]
Description=Alignak Arbiter
After=syslog.target

[Service]
Type=forking
ExecStart=/usr/bin/alignak-arbiter -d -a /etc/alignak/alignak.cfg -c /etc/alignak/daemons/arbiterd.ini
KillMode=process
TimeoutStopSec=3

[Install]
WantedBy=multi-user.target
